* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', monospace;
}

.container {
    margin: 0 auto;
}

.pd-cont {
    max-width: 1200px;
    margin: 0 6rem;
}


/*------------------------------- Navbar -------------------------------*/

#navbar .container {
    background-color: #101010;
}

nav {
    position: relative;
    /* right: 2rem; */
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.2rem 0;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    opacity: 1;
    transition: 0.4s all ease;
}

.nav-list a {
    text-decoration: none;
}

.nav-list p:hover {
    color: #ffda6d;
    transition: 0.4s all ease-in-out;
}

.nav-list a p {
    color: #ffda6d50;
    font-weight: 300;
    font-family: 'fira code', sans-serif;
    opacity: 0.8;
    transition: 0.2s all ease-in-out;
}

.nav-logo {
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
    opacity: 0.8;
}

.nav-logo:hover {
    transform: rotate(180deg);
    transition: 0.4s all ease-in-out;
}

.nav-logo img {
    width: 100%;
}


/*------------------------------- Navbar -------------------------------*/



/*------------------------------- hero section -------------------------------*/

#hero-section {
    z-index: 1;
    margin: 1rem 0;
    /* padding: 1rem 0; */
}

#hero-section .container {
    transform: scale(85%);
}

#hero-section .pd-cont, #hero-section-phone .pd-cont {
    margin: 0;
}

#hero-section .row {
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
    right: 20px;
    color: #0a0a0a;
}

.main-head-phone {
    display: none;
}

.in-row {
    display: flex;
    align-items: center;
    justify-items: center;
}

.head1-cont h1 {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    justify-content: center;
}

.brand {
    transform: rotate(-90deg);
    white-space: nowrap;
    font-size: 1.75rem;
    position: absolute;
    top: 116px;
    left: -80px;
}

.brand-style {
    font-family: 'courier prime', sans-serif;
    font-weight: 700;
    color: #2E2E2E;
}

.main-point {
    position: absolute;
    right: 0px;
    bottom: 10px;
    width: 300px;
    text-align: right;
    font-size: 1.5rem;
    line-height: 1.2;
}

.head1-in-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    /* bottom: 15px; */
}

.head1-in-cont span {
    font-size: 23.125rem;
    line-height: 0.75;
}

.head2-cont h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.head2-cont h1 span {
    font-size: 23.125rem;
    line-height: 0.75;
}

@keyframes cm-right {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}


@keyframes cm-logo {
    from {
        right: -100px;
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
        right: 0px;
    }
}

@keyframes cm-left {
    from {
        right: -100%;
    }
    to {
        right: 0%;
    }
}


.col-2:hover .b-logo {
    transform: rotateY(180deg);
    transition: 0.3s all ease-in-out;
}


.b-logo {
    display: flex;
    transform-style: preserve-3d;
    transition: 0.3s all ease-in-out;
}

.col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-back {
    position: absolute;
    transform: rotateY(180deg);
}



/*------------------------------- hero section -------------------------------*/


::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 0.8em;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: #010101;
    border-radius: 1rem;
}